:root {
    --spacing: 32px;
    --spacing-relative: 1lh;
    --spacing-relative-small: 0.25lh;

    --border: 2px solid white;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    margin-inline: auto;

    padding-inline: max(calc((100% - 66ch) / 2), 1rem);

    font-family: monospace;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.5;

    color: white;
    background-color: black;
}

header {
    padding-top: var(--spacing);

    >nav>ul {
        list-style-type: none;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;


    }
}

.now {
    color: rgb(33, 255, 0);
    &:visited {
        color: rgb(33, 255, 0);
    }
}

main {
    > :not(:first-child) {
        margin-top: var(--spacing-relative);
    }

    ul>li:not(:first-child) {
        margin-top: var(--spacing-relative-small);
    }
}


hr {
    margin-block: var(--spacing);

    border: none;
    border-top: var(--border);
}

a {
    color: white;

    &:visited {
        color: rgb(214, 214, 214);
    }
}



strong {
    color: white;
}
