body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.png);
    background-size: cover;
}

.floating {
    min-width: 500px;
    font-family: monospace;
    font-size: 24px;
    width: 45%;
    height: 53%;
    padding: 20px;
    color: #e84d58;
    border-radius: 30px;
}

.noise {
    background-color: rgba(235, 235, 235, 0.8);
    background-image: url(images/noise-light.png);
}

.links {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.links img {
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease;
}

.links img:hover {
    transform: scale(1.2);
}
