@font-face {
    font-family: "JetBrains Mono";
    src: url(/fonts/JetBrainsMono[wght].ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: "JetBrains Mono";
    background-color: #1f2025;
    color: #f9f4f5;
    min-height: 100vh;
    padding-inline: max(calc((100% - 65%) / 2), 15px);
}

main {
    min-height: 100vh;
}

a {
    color: #f9f4f5;
}
