---
import AboutMe from "../components/AboutMe.astro";
import Head from "../components/Head.astro";
import Separator from "../components/Separator.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- the code for the main page -->
<Layout title="home">
    <div class="page-grid">
        <Head />
        <AboutMe />
        <Separator />
        <Skills />
        <Separator />
    </div>
</Layout>

<style>
    .page-grid {
        display: grid;
    }
</style>
