---
import Footer from '../components/footer.astro'
import '../styles/global.css';
console.log('This runs in your terminal, not the browser!');
const pageTitle = "manni";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
      <div class="header">
          <img src="src/images/testing.png" class="header-picture"></img>
          <div class="angled-base">
              <button type="button" class="btn-about"></button>
              <button type="button" class="btn-blog"></button>
              <button type="button" class="btn-friends"></button>
          </div>
      </div>
      <div class="middle-content">
          <div class="about-me">
            neateinstien
          </div>
      </div>
      <Footer />
  </body>
</html>
