---

---

<header>
    <a href="/">Homyo</a>
</header>

<style>
    header {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        background-color: #d7d0e610;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 70px;
        border-radius: 0 0 8px 8px;
        border: 4px solid #d7d0e6;
    }
</style>
