---

---

<div class="grid">
    <img src="pfp.png" alt="Pixel Art Image of me" />
</div>

<style>
    img {
        width: 120px;
        height: 120px;
        margin: 15px;
        border-radius: 8px;
    }

    .grid {
        margin: 40px 0px 40px;
        background-color: #d7d0e610;
        border: 4px solid #d7d0e6;
        border-radius: 8px;
        width: 100%;
        height: auto;
        display: grid;
    }
</style>
