---

---

<div class="grid">
    <a href="https://github.com/mannireis" class="github-wrap">
        <img src="github-icon.svg" alt="GitHub Icon" class="github-icon" />
        <div class="github-icon-bg"></div>
    </a>

    <a href="https://www.instagram.com/mannidoesarts/" class="instagram-wrap">
        <img
            src="instagram-icon.svg"
            alt="Instagram Icon"
            class="instagram-icon"
        />
        <div class="instagram-icon-bg"></div>
    </a>

    <img src="pfp.png" alt="Pixel Art Image of me" class="pfp" />
</div>

<style>
    .instagram-wrap {
        padding: 0;
        margin: 0;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 9 / 9;
        grid-row: 1;
        position: relative;
        justify-self: start;
        transition: transform 0.2s ease;
    }

    .instagram-wrap:hover {
        transform: scale(1.1);
    }

    .github-wrap {
        padding: 0;
        margin: 0;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 8 / 8;
        grid-row: 1;
        position: relative;
        justify-self: end;
        transition: transform 0.2s ease;
    }

    .github-wrap:hover {
        transform: scale(1.1);
    }

    .github-icon-bg {
        position: absolute;
        z-index: 1;
        width: 60px;
        height: 60px;
        background-color: #a0e7e5;
        rotate: 45deg;
    }

    .instagram-icon-bg {
        position: absolute;
        z-index: 1;
        width: 60px;
        height: 60px;
        background-color: #ff7c7c;
        rotate: 45deg;
    }

    .github-icon {
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
    }

    .instagram-icon {
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
    }

    .pfp {
        grid-column: 1 / 8;
        width: 120px;
        height: 120px;
        border-radius: 8px;
        grid-row: 1;
    }

    .grid {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(8, 1fr);
        margin: 40px 0px 40px;
        background-color: #d7d0e610;
        border: 4px solid #d7d0e6;
        border-radius: 8px;
        width: 100%;
        height: auto;
        display: grid;
        padding: 15px;
    }
</style>
