---

---

<!-- Separator component -->

<div class="separator">
    <img src="arrow-down.svg" alt="arrow" />
</div>

<style>
    img {
        width: 88px;
        height: 133px;
        animation: MoveUpDown 2s ease-in-out infinite;
        top: 10px;
    }

    .separator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px 40px;
        background-color: #d7d0e610;
        width: 100%;
        height: 70px;
        border-radius: 8px;
        border: 4px solid #d7d0e6;
    }


    @keyframes MoveUpDown {
      0%, 100% {
        transform: translateY(0px);
      }
      50% {
          transform: translateY(25px);
      }

</style>
